{% extends 'survay/../survay/survaybase.html' %}
{% block heading %}
    <h3 style="background-color: cornsilk; margin-top: 0; height: border-box">
        {{ title_list }} Реквизиты
    </h3>
    <h3 hidden>{{ filter_name }}</h3>
{% endblock %}

{% block content %}
    <article>
{#        <table>#}
{#            <tbody style="display:table">#}
        {{ form.as_p }}
{#            </tbody>#}
{#        </table>#}
    </article>>

    <div style="display: inline">

            {% if filter_name %}
                <a href="{% url url_name pk=filter_name%}">
                    <button class="btn btn-primary">
                        Вернуться к списку
                    </button>
                </a>
            {% else %}
                <a href="{% url url_name %}">
                    <button class="btn btn-primary"
                    >Вернуться к списку</button>
                </a>
            {% endif %}
    </div>

{% endblock content %}
