{% extends 'survay/../survay/survaybase.html' %}
{% block heading %}
    <h3 style="background-color: cornsilk; margin-top: 0; height: border-box">
        Смена пароля пользователя
    </h3>
    <h3 hidden>{{ filter_name }}</h3>
{% endblock %}


{% block content %}

<form method="post">
    {% csrf_token %}
    <div>
    {% if form.errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}
            Введены некорректные данные
        {% else %}
            Введены некорректные данные
        {% endif %}
        </p>
    {% endif %}
    <p>Введите новый пароль для пользователя:</p>
{#    {{ form.as_p }}#}
    <fieldset class="module aligned wide">
    <div class="form-row">
        {{ form.password1.errors }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {% if form.password1.help_text %}
            <div class="help">{{ form.password1.help_text|safe }}</div>
        {% endif %}
    </div>

    <div class="form-row">
        {{ form.password2.errors }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        {% if form.password2.help_text %}
            <div class="help">{{ form.password2.help_text|safe }}</div>
        {% endif %}
    </div>
    <br>
    <div class="form-row">
        {{ form.email1.errors }}
        {{ form.email1.label_tag }} {{ form.email1 }}
        {% if form.email1.help_text %}
            <div class="help">{{ form.email1.help_text|safe }}</div>
        {% endif %}
    </div>
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Смена пароля" class="default">
    </div>
    </div>
</form>

{% endblock %}
