DJANGO_SECRET_KEY=xluj0kz)j6xny)yi6hsgq&)=h67ol5#_of2ttct(e(f(9c8v_%
DATABASE_URL=postgesql://dbuser:dbpassword@127.0.0.1:5432/dbsurvay
INTERNAL_IPS = []
API_URL='https://geocode-maps.yandex.ru/1.x'
API_KEY_GEO=697fce13-****-****-****-630***02474d
ALLOWED_HOSTS=['.example.com']
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_HOST='localhost'
EMAIL_PORT=1025
EMAIL_HOST_USER='zena@mail.ru'
EMAIL_HOST_PASSWORD=''

#  A list of all the people who get code error notifications.
#  ADMINS="John Doe <john@example.com>, Mary <mary@example.com>"

# A list of all the people who should get broken link notifications.
# MANAGERS="Blake <blake@cyb.org>, Alice Judge <alice@cyb.org>"

# By default, Django will send system email from root@localhost.
# However, some mail providers reject all email from this address.
# SERVER_EMAIL=webmaster@example.com