[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.2"
django-tables2 = "*"
django-filter = "*"
django-bootstrap3 = "*"
psycopg2 = "*"
markdown = "*"
djangorestframework = "*"
django-environ = "==0.8.1"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
